<% provide(:title, 'CV') %>
<h1>CV</h1>
<p>
Find me in app/views/static_pages/profile.html.erb
</p>

<p>
  I am Ryan, come from Taiwan.
</p>

<p>I am interested in learning Web-based technology, and trying to be a well web developer as much as I can.</p>

<p>
  <strong>Now learning:</strong>
  <ul class="lead">
    <li>Ruby on Rails</li>
    <li>Node.js / Express</li>
    <li>JavaScript / CoffeeScript</li>
    <li>HTML5 / Jade</li>
    <li>CSS3 / LESS / Sass</li>
    <li>jQuery / Ajax</li>
  </ul>
</p>

<p>
  <strong class:"text-info">Coding environment & tool:</strong>
  <ul class="lead">
    <li>Linux / Debian</li>
    <li>Sublime Text 3</li>
    <li>Git / Slack / Hackpad / Medium Blog</li>
  </ul>
</p>
