<div class="center hero-unit">
  <h1>Home</h1>
  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
  <h2>This is the home page for hackurlife.</h2>
  <p>Here is <u>Ryan's place</u> which will be built with lots of web technology.</p>
  <p>Just to practice and have fun!</p>
  </br>
  </br>
  </br>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-success btn-primary" %>
</div>




